@charset 'UTF-8';

.legal {
	background:#fff !important;
	color:#000 !important;
	font-family:times,Times New Roman,times-roman,georgia,serif !important;
	font-size:12pt !important;
	text-transform:uppercase !important;
	text-shadow:unset !important;
	filter:unset !important;
}
a.legal {
	font-size:inherit !important;
}
.exception ,
.legal.exception ,
.legal_exception {
	text-transform:inherit !important;
}
