@charset 'UTF-8';
.legal,.legal *{
	background:#fff !important;
	color:#000 !important;
	font-family:"times","Times New Roman","times-roman",georgia,serif !important;
	font-size:12pt !important;
	text-transform:uppercase !important;
	text-shadow:unset !important;
	filter:unset !important;
}
a.legal,a.legal *{
	font-size:inherit !important;
}
.legal > ol li{
	color:#444;
	list-style:upper-roman inside;
	text-shadow:unset;
	display:list-item;
}
.legal > ol li ol li{
	color:#444;
	list-style:lower-alpha inside;
	text-shadow:unset;
	display:list-item;
}
.legal > ol li ol li ol li{
	color:#444;
	list-style:numerical;
	text-shadow:unset;
	display:list-item;
}
.exception,.exception *,
.legal.exception,.legal.exception  *,
.legal_exception,.legal_exception *{
	text-transform:inherit !important;
	background:inherit !important;
	color:inherit !important;
	font-size:inherit !important;
	text-transform:inherit !important;
}
li,.exception, .exception *, .legal.exception, .legal.exception *, .legal_exception,.legal_exception *{
	color:#444 !important;
}
.legal.exception li,.exception li {
	list-style:unset;
	text-shadow:unset;
}
.legal.exception,.exception{
	text-transform:none !important;
}