@charset 'UTF-8';
@media (max-width:767px) {
	body {
		font-size:17px;
	}
	h1,h2,h3,h4,h5,h6 {
		line-height:140%;
	}
	.container {
		width:99%;width:99vw;
		margin:0 auto;
	}
	header {
		width:90%;width:90vw;
		margin:0;
		margin-top:3%;
		padding-left:0%;
		padding-right:0%;
	}
		header p a{
			margin:2% 1%;
		}
		.headerLogo {
			max-width:65%;max-width:65vw;
			flex:3 6 60%;flex:3 6 60vw;
			order:3;
		}
			.headerLogo img {
				width:70%;width:70vw;
				height:auto;
			}
		.fpotusSeal {
			order:2;
		}
			.fpotusSeal img {
				max-width:48px;
			}
		header .pageTitleImage{
			width:84%;width:84vw;
		}
	article.main {
		width:90%;width:90vw;
		margin:31em auto;margin:32rem auto;margin:106vh auto;
		/*
		margin-left:5vw;margin-right:5vw;
		*/
		padding-left:0;padding-right:0;
		border:0;
		flex-shrink:1;
		line-height:-moz-calc(1.3em + (1.5 - 1.3) * ((100vw - 21em) / (35 - 21)));
		line-height:-webkit-calc(1.3em + (1.5 - 1.3) * ((100vw - 21em) / (35 - 21)));
		line-height:-o-calc(1.3em + (1.5 - 1.3) * ((100vw - 21em) / (35 - 21)));
		line-height:calc(1.3em + (1.5 - 1.3) * ((100vw - 21em) / (35 - 21)));
		line-height:-moz-calc(1.3rem + (1.5 - 1.3) * ((100vw - 21rem) / (35 - 21)));
		line-height:-webkit-calc(1.3rem + (1.5 - 1.3) * ((100vw - 21rem) / (35 - 21)));
		line-height:-o-calc(1.3rem + (1.5 - 1.3) * ((100vw - 21rem) / (35 - 21)));
		line-height:calc(1.3rem + (1.5 - 1.3) * ((100vw - 21rem) / (35 - 21)));
	}
	aside {
		width:98%;width:98vw; /**/
		margin-right:5vw;
		padding-left:0%;
		padding-right:0%;
	}
	aside {
		margin-top:-950px;
		margin-left:-950px;
	}
		#menuToggle:checked ~ aside {
			margin-top:8em;margin-top:8rem;margin-top:29vh;
			margin-left:1em;margin-left:1rem;margin-left:6vw;
		}
		#menuToggle:checked ~ article.main {
			margin-top:2em;margin-top:2rem;margin-top:10vh;
		}
	footer {
		float:left;
		width:90%;width:90vw;
		margin-left:5%;
		margin-right:5%;
		padding-left:0%;
		padding-right:0%;
	}
	#main,main {
		margin-top:-4em;margin-top:-4rem;
		flex-direction:column;
	}
	#menuLink,#menuLink2 {display:inline-block;}
	#menuLink,#menuLink2 {
		float:right;
		top:0.2em;top:0.5rem;
		order:1;
	}
	#menuLink label,#menuLink2 label{
		font-size:2.5em;font-size:2.5rem;
	}
	header { order: 1; }
	aside { order: 2; }
	article.main { order: 3; }
	footer { order: 4; }

	.mobileVisible {
		display:block;
		visibility:visible;
	}
	.mobile.hidden, .mobileHidden {
		display:none !important;
		visibility:hidden;
	}
	.mobile.visuallyhidden, .mobileVisuallyHidden {
		border:0;
		clip:rect(0 0 0 0);
		height:1px;
		margin:-1px;
		overflow:hidden;
		padding:0;
		position:absolute;
		width:1px;
	}

	header{
		position:fixed;
		width:100%;width:100vw;
		height:50px;
		top:0;
		left:0;
		right:0;
		transform:translateZ(0);
		transition:transform 0.33s ease 0s;
		backface-visibility:hidden;
		z-index:351;
	}
		.header-inner{
			position:relative;
			width:100%;width:100vw;
			height:50px;
			left:0;
			right:0;
			background:Navy;
			color:#fff;
			display:table;
			line-height:32px;
		}
		.header-inner .section{
			display:table-cell;
			vertical-align:middle;
			text-align:center;
			transform:translateZ(0) translate3d(0,0,0);
			backface-visibility:hidden;
		}
		.header-inner .symbol{
			width:65px;
			border-right:1px solid #fff;
		}
		.header-inner .logo{
			width:121px;
			height:17px;
			margin:0 auto;
			display:block;
		}
		header .menu{
			width:65px;
			border-left:1px solid #fff;
		}
	.BSOA {
		width:28%;width:28vw;
	}

	.socialize .the-icons {
		font-size:1.5em;font-size:1.5rem;
	}
	.socialize ol li{
		max-width:71px;
	}
	.qrOverlay a {
		padding-top:20%;padding-top:20vh;
	}
	.qrShare{
		height:70%;height:70vh;
	}
}
