#https://www.codementor.io/tips/1196438172/recommended-gitignore-for-php-web-projects
/bower_components
/node_modules
/vendor
.DS_Store
Thumbs.db
npm-debug.log
idr.inc.php
blacklist.inc.php
MTco.geanyprj
php.ini
gulpfile.js
gruntfile.js
gruntfile2.js
webpack.config.js
MathewTyler.co.zip